.corps{
    -fx-text-fill : #00007B;
    -fx-font-family: sans-serif;
    -fx-font-weight : bold;
    -fx-font-size : 14;
}

.titre{
    -fx-font-size : 40;
	-fx-font-weight : bold;
	-fx-text-fill : #FFFFF5;
    -fx-font-family: cursive;
    -fx-background-color: #00007B;
    -fx-padding: 10px;
}

.soustitre{
    -fx-font-size : 18;
	-fx-font-weight : bold;
	-fx-text-fill : #00007B;
    -fx-font-family: cursive;
    -fx-text-decoration: underline #00007B;
}

.bouton{
    -fx-background-color: #00007B;
    -fx-text-fill: #FFFFF5;
    -fx-border-radius: 5;
    
}

.zoneTexte{
    -fx-border-radius : 5;
    -fx-border-width : 2;
    -fx-border-color : #00007B;
    -fx-text-fill: #00007B;
    -fx-texte-align : center;
}

.liste{
    -fx-background-color : #00007B;
    -fx-text-fill: #FFFFF5;
}
.textB{
    -fx-text-fill:#00007B
}